@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom left, rgb(230, 230, 230), rgb(180, 177, 177));
  height: 100%;
  width: 100%;
  background-repeat: none;
  background-size: cover;
  overflow: hidden;
}

.Shadow {
  box-shadow: 0px 5px 5px rgb(90, 89, 89);
}
